* {
  font-family: 'Poppins', sans-serif;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #030303;
}

.App {
  max-height: 100vh;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  padding: 24px;
}

.auth-footer {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  gap: 8px;
  justify-content: center;
}

.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 24px;
  gap: 24px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.homepage-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage--login-options-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-end;
}

.login-form {
  background-color: #0b0b0b;
  border: 1px solid #151515;
  border-radius: 24px;
  color: white;
}

.register-form {
  background-color: #0b0b0b;
  border: 1px solid #151515;
  border-radius: 24px;
  color: white;
}

.text-subtitle-gray {
  color: #a0a0a0;
}

.text-underline-hover {
  text-decoration: none;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.welcome-title {
  color: #ffffff;
  font-size: 58px;
  font-weight: 600;
}

/* button styles */
.btn-primary {
  color: black;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #978e10;
  border-color: #978e10;
  transform: translateY(-2px);
}

.btn-secondary {
  color: black;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: #969696;
  border-color: #969696;
  transform: translateY(-2px);
}

@media (max-width: 576px) {
  .auth-footer {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 992px) {
  .homepage {
    display: flex;
  }
  .homepage-image {
    display: none;
  }
  .welcome-title {
    font-size: 38px;
  }
}
